.header {
        
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
 
 
  
.title {
font-size: 24px;
font-weight: bold;
text-align: center;
margin: 0;
color: black;
position: relative;
}



form {
max-width: 1200px;
width: 100%;
margin: 0 auto;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

body {
background-color: #031f3f;
color: #000000;
font-family: 'Poppins';
}

.row-container,
.row-container1{
background-color: #d9d9d9;
color: white;
width: 100%;
border-radius: 10px;
}
.row-container
{
width: 100%;
padding: 0;
background-color: #d9d9d9;
display:grid;
grid-template-columns: repeat(3,1fr);
gap: 2rem;
padding: 2.5rem;
}

input[type="text"],
input[type="email"],
textarea {
padding: 10px;
font-size: 14px;
background-color: #c7c7c7;
color: #000000;
border: none;
border-radius: 10px;
}

.section-title {
color: white;
font-weight: bold;
font-size:18px;
margin-bottom: 10px;
text-align: center;
margin-top: 1rem;
width: 100%;
}

.arrow-down {
width: 20px;
height: 20px;
 
background-size: contain;
background-repeat: no-repeat;
background-position: center;
cursor: pointer;
}

label {
font-weight: bold;
}


@media (min-width: 0px) and (max-width: 415px) {
 

.title {
font-size: 16px;
font-weight: bold;
text-align: center;
margin: 5px;
color: black;
}


}

@media (max-width: 760px){
    html{font-size: 87.5%;}
}


h2{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    margin: 1rem 0;
}


input{
        width: 100%;
    }
    .column{
        display: flex;
        flex-direction: column;
    
        justify-content: flex-start;
        gap: 2rem;
    }
  
    .row-container1{
        gap: 2rem;
       display: grid;
       grid-template-columns: 1fr 300px 300px;
       align-items: start;
       padding: 2.5rem;
    }
    
 
 @media (max-width: 1200px){

    form{
        padding: 0 2rem;
        width: 100%;
    }
    .row-container1{
        grid-template-columns: 1fr 150px 150px;
    }
    }
    @media (max-width: 720px){
            .row-container1{
                grid-template-columns: 1fr  1fr  1fr 
        }
    }
    @media (max-width: 520px){
        .row-container1, .row-container{
            grid-template-columns: 1fr;
        }
        .title{
            font-size: 18px;
        }
    }
    .comportamento_require{
        width: 100%;

        display: flex;
        flex-direction: column;
    }
    .comportamento_require textarea{
        width: 100%;
    }
    #requisitos_compoortamentais{
        
        width: 100%;
        height: 200px;
    }
    #requisitos_Tecnicos2{
       width: 100%;
    }
    #requisitos_Tecnicos2 textarea{
       
        width: 100%;
        height: 200px;
    }

    .responsabilidades {
       
        width: 100%;
    }
    .responsabilidades textarea{
        width: 100%;
        height: 200px;
    }

    .beneficios{
        width: 100%;
    }
    .beneficios textarea{
        width: 100%;
        height: 200px;
    }

    #submit-button-mobile{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem 0;
    
    
      }
      #submit-button-mobile button {
        background-color: #E8691A;
        color: white;
        padding: 10px 120px;
        font-size: 16px;
        border: none;
        cursor: pointer;
      }